@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
}

body{
    height: auto;
    width: 100vw;
    font-size: 82.5%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'poppins', sans-serif;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

.section-navbar{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.top_txt {
    /* border: 2px solid; */
}

.top_txt .container{
    /* background-color: rgb(39, 39, 39); */
    border: 2px solid;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head_txt p{
    /* color: white;  */
    /* font-size: 1rem; */
}

.sign-in-up{

    
}